body{
    background-color: lightcyan;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    margin: 25px 25px;
}
.header{
    display: flex;
    flex-direction: row;
    align-items: center;
    width: 300px;
    justify-content: space-around;
    padding: 15px;
}
.header h6{
    margin-top: 10px;
}
.board-container{
    height: 500px;
    width: 500px;
    border: 5px solid black;
    display: grid;
}
.btns{
    display: flex;
    flex-direction: row;
    align-items: center;
    width: 500px;
    justify-content: space-around;
    margin-top: 25px;
}
.footer{
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 80px;
    padding: 1.5px 1.5px;
}
.footer h3{
    color: black;
    font-size: 16px;
}